:root {
  --font-family: 'Orbitron', sans-serif;
  --background-color: #202a3b;
  --font-size-large: larger;
  --font-color-white: #ffffff;
  --counter-font-size: 72px;
  --button-font-size: 36px;
  --button-background-color: #3498db;
  --button-hover-background-color: #2980b9;
  --button-color: #ffffff;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: var(--font-family);
  background-color: var(--background-color);
}

.container {
  width: 1024px;
  height: 1024px;
  background-image: url(img/backgroung.jpg);
  background-position: center;
  background-size: cover;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  font-size: var(--font-size-large);
  color: var(--font-color-white);
}

.counter {
  font-size: var(--counter-font-size);
  color: var(--font-color-white);
  margin-bottom: 30px;
}

button {
  font-size: var(--button-font-size);
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 10px;
  background-color: var(--button-background-color);
  color: var(--button-color);
  cursor: pointer;
}

button:hover {
  background-color: var(--button-hover-background-color);
}
