/**
* creating some common value for the whole projet 
*/
:root {
  /* constant value from the web coolors.co  */
   --almond: #ede0d4ff;
   --desert-sand: #e6ccb2ff;
   --burlywood: #ddb892ff;
   --cafe-au-lait: #b08968ff;
   --coffee: #7f5539ff;
   --brown-sugar: #9c6644ff;
 
   /* constant color used  */
   --dark: var(--coffee);
   --less-dark: var(--cafe-au-lait);
   --more-light: var(--desert-sand);
   --light: var(--almond);
 }
 
 
 
 body, html {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100vw;
   height: 100vh;
   color: var(--light);
   background-color: var(--dark);
 }
 /* ---------------------------------------------------------------------- */
 /**
 *  main functionality for the project 
 */
 .main-container{
 
   width: 100%;
   height: 100%;
   background-color: var(--less-dark);
 
 
 }
 
 /* ---------------------------------------------------------------------- */
 /* display the value  */
 
 .counter{
   width: 200px;
   height: 100px;
   background-color:var(--light);
   margin:  10px 10px 0px 10px;
   font-size: 3em;
 }
 
 
 .counter-display{
   width: 100%;
   text-align: center;
   color: var(--dark);
 
 }
 
 /* ---------------------------------------------------------------------- */
 /* contain 3 button, inc, dec and reset  */
 .button-container{
   width: 200px;
   height: 40px;
   display: flex;
   flex-direction:row;
   justify-content:space-between;
   margin: 0px 10px 10px 10px;
 
 
 
 }
 
 /* common properties for the 3 buttons */
 
 .button{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 30%;
   height: 100%;
   cursor: pointer;
   background-color:var(--more-light);
   color: var(--dark);
 
 }
 