/*Ce pseudo-selecteur permet de déclarer de manière globale
*/
:root {
  --light: #cccccc;
  --dark: #392a47;

  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  color: var(--dark);
}

body,
html {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: var(--light);
}

.minus {
  display: inline-block;
  background-color: #7b38d8;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.plus {
  display: inline-block;
  background-color: #7b38d8;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.reset {
  display: inline-block;
  background-color: #7b38d8;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 3rem;
  text-align: center;
  justify-content: center;
  transition: all 0.25s;
}

p {
  color: #4c4a37;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  text-align: center;
  justify-content: center;
  line-height: 32px;
  margin: 0 0 24px;
}
